html,
body {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  background-image: url('https://softposreceipt.omaemirates.com:8988/SoftPOS/SampleSliderImage/banner_3_y3bvex.jpg');
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;

  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  // display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  // font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px;

  font-style:italic;
}

.form-rendered .build-wrap,
.form-rendered .formbuilder-title,
.form-rendered .formbuilder-actions {
  display: none;
}

.render-wrap,
.formrender-title,
.formrender-actions {
  display: none;
}

.form-rendered .render-wrap,
.form-rendered .formrender-title,
.form-rendered .formrender-actions {
  display: block;
}
.api-table {
  width: 100%;
  border-collapse: collapse;
  td {
    border: 1px solid #aaa;
    padding: 16px;
    &:last-child {
      text-align: center;
    }
  }
  thead {
    background-color: #fff;
  }
  tbody {
    background-color: #644141;
    tr {
      &:nth-child(odd) {
        background-color: #ddd;
      }
    }
  }
  textarea {
    width: 100%;
    height: 24px;
    transition: height 333ms ease-in-out;
    &:focus {
      height: 160px;
    }
  }
}

.demo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#setData-value {
  background-color: transparent;
  border: 0 none;
  color: #fff;
  padding: 0;
}

.form-builder-dialog {
  overflow-y: auto;
}

label[for='toggleEnhancedBootstrapEnabled'] {
  margin-left: 1rem;
  display: none;
}
